<!DOCTYPE html>
<html lang="pt-br" style="overflow-x:hidden;">
<!--Testando commit-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Capítulo 3</title>
  <link rel="manifest" href="/web/manifest.json">
  <link rel="stylesheet" th:href="@{css/index.css}"/>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <script src="http://kit.fontawsome.com/a076d05399.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- <script src="../static/validarCadastro.js"></script>
    <script src="../js/contraste.js"></script> -->
</head>
<body>
    <header th:insert="~{fragments/headerUsuario}"></header>
    <br>
          <br>
          <center><h3>
            Atenção, esse material não é oficial da FCMM, é apenas um material para apresentar a ideia do projeto.
          </h3></center>
    <div><h1>Capítulo 3</h1></div>
    <br>
    <div class="itenscapitulos">
        <div class="accordion">
            <div class="contentBx">
            <div class="label">1. Casas e Cômodos </div>
            <div class="content">
                <p>Neste módulo do curso, serão ensinados os sinais referentes a moradias, cômodos de uma casa, além de utensílios de cozinha e cores. Após a apresentação desses sinais, em contextos de uso, deverão ser formuladas frases e elaboradas algumas situações utilizando-se os sinais aprendidos até o momento.</p>
                <br>
                <div><h4>Praticando Libras 1
                </h4></div>
                <br>
                <p>Assista ao vídeo 1, abaixo, e:</p>
                <br>
                <p>• Preste atenção à legenda em português e sua correspondência com o que é sinalizado em libras. Atente-se a todos os componentes da língua visuoespacial, que vão além dos sinais e envolvem expressão facial, a marcação no espaço, o uso de classificadores, etc.</p>
                <p>• Na apresentação de diferentes tipos de moradias, note a iconicidade presente nos sinais que as designam, ou seja, como os sinais lembram visualmente os objetos que eles representam.</p>
                <p>• Faça uma lista dos diferentes tipos de moradias apresentados.</p>
                <p>• Retome cada um dos sinais e reflita sobre como se parecem com os objetos que representam.</p>
                <br>
                <figure>
                    <center><figcaption>Vídeo 1 - Diferentes tipos de moradias. </figcaption></center>
                    <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video01.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </figure>
                <br>
                <br>
                <div><h4>Praticando Libras 2
                </h4></div>
                <br>
                <p>Agora, assista ao vídeo 2, abaixo, e:</p>
                <br>
                <p>• Identifique os sinais correspondentes a: cômodo, quarto, sala, cozinha e banheiro.</p>
                <p>• Se necessário, assista-o novamente e, relembrando os sinais que aprendeu, tente formular as seguintes frases:</p>
                <br>
                <br>
                <center><div><h4>"A casa precisou ser dividida em cômodos."</h4></div></center>
                <br>
                <center><div><h4>"Minha casa tem ____ quartos."</h4></div></center>
                <br>
                <center><div><h4>"Minha casa tem ____ banheiros."</h4></div></center>
                <br>
                <br>
                <br>
                <div><h4>&#9888;&#65039; Importante:</h4></div>
                <br>
                <p>É interessante ressaltar que, na gramática correta da Libras, o número deve aparecer depois do objeto. Portanto, deve ser sinalizado primeiramente <strong>quarto</strong> e depois a <strong>quantidade</strong>, e o mesmo deve ocorrer com banheiro.</p>
                <br>
                <figure>
                      <center><figcaption>Vídeo 2 - Cômodos de uma casa.</figcaption></center>
                      <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video02.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </figure>
                <br>
                <br>
                <div><h4>Praticando Libras 3</h4></div>
                <br>
                    <p>Assista ao vídeo 3, abaixo, e:</p>
                    <br>
                        <p>• Identifique o sinal correspondente a castelo, muro e torre.</p>
                        <p>• Pense sobre como poderia ser sinalizada, em Libras, a frase:</p>
                        <br>
                        <center><div><h4>"Antigamente os prisioneiros ficavam na torre do castelo.”
                        </h4></div></center>
                        <br>
                    <figure>
                      <center><figcaption>Vídeo 3 - Cômodos e partes de um castelo.</figcaption></center>
                      <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video03.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </figure>
                  </br>  
                  <p>Lembrando que a libras obedece a uma estrutura diferente da língua portuguesa, a frase acima tem que ser sinalizada de modo que contemple a organização de pensamento das pessoas surdas, que não passa pelo viés auditivo.</p>
                  <p>Uma das possíveis formas seria utilizando os sinais abaixo, juntamente com a orientação espacial, a expressão facial, etc.:</p>
                  <br>
                  <center><div><h4>"Antigamente castelo torre <u>pessoas presas</u> (prisioneiros) lá.”</h4></div></center>
                  <br>
                  <figure>
                    <center><figcaption>Vídeo 4 - Construção de frase (resposta).</figcaption></center>
                    <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video04.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </figure>
                <br>
                <br>
                <div><h3>1.1. Praticando com Casas e Cômodos</h3></div>
                <br>
                    <div><h4>Praticando Libras 4</h4></div>
                    <br>
                    <p>Assista ao vídeo 5, abaixo, e:</p>
                    <br>
                    <p>• Faça uma lista de todos os sinais que conseguir identificar.</p>
                    <p>• Retome o sinal de sala de jantar, salão de jogos, salão de festas, biblioteca, corredores</p>
                    <p>• Conforme o apresentador explicita, tente reproduzir a explicação dada no vídeo:</p>
                    <br>
                    <p>A mansão possui: </p>
                    <br>
                    <p>• S-A-L-A D-E J-A-N-T-A-R (soletrar) - sinal ? (fazer o sinal correspondente);</p>
                    <p>• S-A-L-Ã-O D-E J-O-G-O-S (soletrar) - sinal ? (fazer o sinal correspondente);</p>
                    <p>• S-A-L-Ã-O D-E F-E-S-T-A-S (soletrar) - sinal? (fazer o sinal correspondente);
                    </p>
                    <p>• B-I-B-L-I-O-T-E-C-A (soletrar) - sinal ? (fazer o sinal correspondente);</p>
                    <p>• C-O-R-R-E-D-O-R-E-S (soletrar) - sinal? (fazer o sinal correspondente).</p>
                    <br>
                    <figure>
                        <center><figcaption>Vídeo 5 - Cômodos e partes de uma mansão.</figcaption></center>
                        <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video05.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </figure>
                    <br>
                    <br>
                    <div><h4>Praticando Libras 5</h4></div>
                    <br>
                    <p>Assista ao vídeo 6, abaixo, e:</p>
                    <br>
                    <p>• identifique os sinais de apartamento, prédios, escritório, garagem, piscina, rede, jardim, quintal e condomínio, barracos, favelas, bairros.</p>
                    <p>• Identifique quais desses sinais são acompanhados de marcadores faciais</p>
                    <p>• Reproduza, assim como mostrado no vídeo 25, os sinais correspondentes a barracos, favelas, bairros, realizando as expressões faciais inerentes a esses sinais</p>
                    <br>
                    <figure>
                        <center><figcaption>Vídeo 6 - Sinais e marcadores faciais de bens imóveis e cômodos.</figcaption></center>
                        <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video06.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </figure>
                    <br>
                    <br>
                    <div><h3>1.2. Praticando com Casas e Cômodos - Continuação</h3></div>
                    <br>
                    <div><h4>Praticando Libras 6</h4></div>
                    <br>
                    <p>• Com base no vídeo 7 , faça a revisão de todos os sinais aprendidos até o momento.</p>
                    <br>
                    <figure>
                        <center><figcaption>Vídeo 7 - Revisão.</figcaption></center>
                        <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video07.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </figure>
                    <br>
                    <p>• Sinalize, em Libras, qual é o seu tipo de moradia.</p>
                    <p>• Soletre o seu endereço e o número da sua casa. Faça o sinal correspondente a bairro e soletre-o.</p>
                    <p>• Assista ao vídeo 8 e tente identificar o endereço soletrado.</p>
                    <br>
                    <figure>
                        <center><figcaption>Vídeo 8 - Endereço soletrado (sem legenda).</figcaption></center>
                        <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video08.mp4
                        " title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </figure>
                    <br>
                    <p>• Confirme sua resposta no vídeo legendado, abaixo</p>
                    <br>
                    <figure>
                        <center><figcaption>Vídeo 9 - Endereço soletrado (resposta com legenda).</figcaption></center>
                        <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video09.mp4
                        " title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </figure>
            </div>
            </div>
        </div>
        <div class="accordion">
            <div class="contentBx">
            <div class="label">2. Utensílios de Cozinha</div>
            <div class="content">
            <div><h4>Praticando Libras 7</h4></div>
            <br>
            <p>Assista ao vídeo 10, abaixo, e:</p>
            <br>
            <p>• Identifique os sinais de panela, jarra, faca, colher, hashi, garfos, pratos, xícara, copo, concha, pegador, abridor de latas, saca rolhas, tesoura, ralador, espremedor, peneira, pilão, espremedor, rolo de massa, pincel e forma de bolo, espátula e bandeja.</p>
            <p>• Faça uma lista de quais desses sinais se parecem com o seu referente, ou seja, lembram os objetos, sua forma ou a maneira que são manuseados.</p>
            <br>
            <figure>
                <center><figcaption>Vídeo 10 - Utensílios de cozinha.</figcaption></center>
                <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video10.mp4
                " title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </figure>
            <br>
            <br>
            <div><h4>Praticando Libras 8</h4></div>
            <br>
            <p>Agora, assista ao vídeo 11, abaixo, e:</p>
            <br>
            <p>• Siga a dica apresentada para memorizar os sinais referentes aos utensílios de cozinha.</p>
            <p>• Pratique preferencialmente em um ambiente de cozinha, a fim de memorizá-los com mais facilidade.</p>
            <br>
            <figure>
                <center><figcaption>Vídeo 11 - Revisão.</figcaption></center>
                <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video11.mp4
                " title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </figure>
            </div>
            </div>
        </div>
        <div class="accordion">
            <div class="contentBx">
            <div class="label">3. Cores</div>
            <div class="content">
                <div><h4>Praticando Libras 9</h4></div>
                <br>
                <p>• Assista ao vídeo 12 e identifique os sinais das cores primárias: amarelo, vermelho e azul.</p>
                <p>• Reproduza a seguinte frase:
                </p>
                <br>
                <center><div><h4>"As cores primárias (cores básicas) são amarelo, vermelho e azul."</h4></div></center>
                <br>
                <p>Lembre-se de que não é necessário soletrar o nome das cores. Soletração é apenas uma estratégia didática utilizada nos vídeos para que os ouvintes possam compreender o que está sendo sinalizado com maior facilidade. Portanto, essa frase pode ser construída utilizando-se os seguintes sinais:</p>
                <p>Utilize as duas mãos quando for fazer o sinal das cores. Em uma das mãos, marque o número 3 e com a outra faça o sinal das cores, assim como mostrado no vídeo.</p>
                <br>
                <div><h4>Praticando Libras 10</h4></div>
                <br>
                <p>Assista ao vídeo 12, abaixo, e:
                </p>
                <br>
                <p>• Identifique o sinal da cor verde demonstrado no vídeo.</p>
                <p>• Tal como no vídeo, formule a seguinte frase: "Verde é a mistura de azul com amarelo."</p>
                <p>• Identifique o sinal da cor roxa.</p>
                <p>• Formule a seguinte frase: "Roxo é a mistura de vermelho com azul."</p>
                <p>• Identifique o sinal da cor laranja.</p>
                <p>• Formule a seguinte frase: "Laranja é a mistura de vermelho com amarelo."</p>
                <p>• Identifique o sinal de claro e escuro.</p>
                <p>• Identifique o sinal das cores rosa, lilás, vinho, preto, branco, cinza, bege e marrom.</p>
                <p>• Formule a seguinte frase: "Marrom é a mistura de preto com amarelo ou preto com laranja."</p>
                <p>• Identifique o sinal das cores dourado, prateado e bronze.</p>
                <br>
                <figure>
                    <center><figcaption>Vídeo 12 - Cores primárias, misturadas e metálicas.</figcaption></center>
                    <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video12.mp4
                    " title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </figure>
                <br>
                <br>
                <div><h4>Praticando Libras 11</h4></div>
                <br>
                <p>Assista ao vídeo 13, abaixo, e:</p>
                <p>• Retome os sinais das seguintes cores: verde, preto, cinza e roxo. Perceba que elas são sinalizadas no dorso da mão.</p>
                <p>• Retome o sinal das cores: vinho, rosa, vermelho, amarelo e laranja. Observe que essas cores são sinalizadas na face da mão.</p>
                <p>• Retome o sinal da cor branca. Observe que ela é sinalizada com apoio do braço e com a mão na forma da letra B.</p>
                <p>• Retome o sinal da cor bege. Observe que esse é um sinal soletrado. </p>
                <br>
                <figure>
                    <center><figcaption>Vídeo 13 - Revisão.</figcaption></center>
                    <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo04video13.mp4
                    " title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </figure>
                <br>
                <br>
                <br>
                <div class="divQuiz">
                    <a id="btnQuiz" th:href="@{/quiz1}">Iniciar quiz</a>
                </div>
            </div>
            </div>
        </div>
    </div>
    <br>
    <script>
        const accordion = document.getElementsByClassName('contentBx');

        for (i = 0; i<accordion.length; i++){
            accordion[i].addEventListener('click', function(){
                this.classList.toggle('active')
            })
        } 
    </script>
</body>
<footer th:insert="~{fragments/footer}"></footer>
</html>