<!DOCTYPE html>
<html lang="pt-br" style="overflow-x:hidden;">
<!--Testando commit-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Capítulo 1</title>
  <link rel="manifest" href="/web/manifest.json">
  <link rel="stylesheet" th:href="@{css/index.css}" />


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <script src="http://kit.fontawsome.com/a076d05399.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- <script src="../static/validarCadastro.js"></script>
    <script src="../js/contraste.js"></script> -->
</head>
<body>
    <header th:insert="~{fragments/header}"></header>
    <div><h1>Capítulo 1</h1></div>
    <br>
    <div class="itenscapitulos">
        <div class="accordion">
            <div class="contentBx">
            <div class="label">1. Expressões faciais</div>
            <div class="content">
                <p>As expressões faciais são atributos do idioma Libras. Sem o seu uso, a informação fica incompleta. Se comparadas às línguas orais-auditivas, essas expressões seriam correspondentes à entonação da voz.  Nos estudos linguísticos sobre as Línguas de Sinais, elas são consideradas traços não manuais. De acordo com Choi et al. (2012), as expressões faciais, além das corporais, incluem também o movimento de cabeça e o olhar.</p>
                <br>
                <p>Na figura 1, podem-se observar algumas expressões faciais que são utilizadas de maneira
                mais ou menos acentuada, dependendo da situação vivenciada. É importante tentar
                reproduzi-las</p>
                <br>
                <figure>
                  <figcaption>Figura 1 - Exemplos de expressões faciais de acordo com sentimentos diversos</figcaption>
                  <br>
                  <img src="">
              </figure>  
              <div><h3>1.1. Expressões Faciais - Continuação</h3></div>    
              <div class="content">
                <p>
                  Além do uso imprescindível da expressão facial na comunicação fluente na Língua de Sinais, um mesmo sinal pode ganhar diferentes sentidos dependendo da expressão facial, ou seja, ela se torna um traço distintivo no idioma (CHOI et al., 2012). Assim, um mesmo sinal pode ser produzido com intensidades diferentes marcadas na expressão facial:
                </p>
                <br>
                <br>
                <figure>
                  <figcaption>Vídeo 1 - Sinal com a expressão facial bravo em diferentes intensidades</figcaption>
                  <br>
                  <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo02video01.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </figure>
                <br>
                    <figure>
                      <figcaption>Vídeo 2 - Sinal com a expressão facial medo em diferentes intensidades.
                      </figcaption>
                      <br>
                      <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo02video02.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </figure>
                  <br>
                    <figure>
                      <figcaption>Vídeo 3 - Sinal com a expressão facial alegre em diferentes intensidades.
                      </figcaption>
                      <br>
                      <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo02video03.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </figure>
                  </br>
                  <div><h3>1.2. Expressões faciais - Continuação</h3></div>
                  <div class="content">
                      <p>Além disso, as expressões faciais podem ser marcadores que determinam se as frases são afirmativas, interrogativas, exclamativas, etc. Desse modo, uma mesma frase, sinalizada de
                      maneira igual, tem o seu sentido determinado pela expressão facial. Nos vídeos 4, 5, 6 e 7, observe a frase: "Hoje o dia está chuvoso”; sinalizada nos modos afirmativo, negativo, exclamativo interrogativo, tendo como diferencial para compreensão do seu sentido somente a expressão facial.</p>
                        <br>
                      <figure>
                        <figcaption>Vídeo 4 - Hoje o dia está chuvoso (afirmativo).</figcaption>
                        <br>
                        <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo02video04.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </figure>
                     <br>
                     <figure>
                      <figcaption>Vídeo 5 - Hoje o dia não está chuvoso (negativo).
                      </figcaption>
                      <br>
                      <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo02video05.mp4" title="YouTube video player" frameborder="0" allow="accelerometer;clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </figure>
                  <br>
                  <figure>
                    <figcaption>Vídeo 6 - Hoje o dia está chuvoso (exclamativo).
                    </figcaption>
                    <br>
                    <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo02video06.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </figure>
                <br>
                <figure>
                  <figcaption>Vídeo 7 - Hoje o dia está chuvoso (interrogativo).
                  </figcaption>
                  <br>
                  <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo02video07.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </figure>
              <br>
              <div><h3>1.3. Praticando expressões faciais</h3></div>
                      <div class="content">
                          <p>Muitos ouvintes têm vergonha de utilizar as expressões faciais, sendo que elas precisam
                            ser exercitadas para que as informações sejam veiculadas de forma completa, visto que os sinais não são produzidos de forma desvinculada das expressões faciais.
                          </p>
                          <p>No caso de palavras abstratas, sensações e sentimentos, as expressões faciais devem ser exploradas intensamente. No vídeo 8, esses conceitos são exemplificados.
                          </p>
                            <br>
                            <h4>Praticando libras 1</h4>
                              <p> • Observe os sinais soletrados correspondentes a diferentes sensações e sentimentos. Eles são soletrados por meio do alfabeto manual pelo surdo Heveraldo e aparecem na legenda em caixa alta, com cada letra separada por hífen.</p>
                              <p> • Faça uma lista de cada sinal de sensação e sentimento demonstrado.</p>
                              <p> • Identifique os sinais correspondentes à lista elaborada.</p>
                              <p> • Reproduza os sinais associando-os a expressões faciais que correspondam ao ssentimentos e sensações pretendidos. </p>
                              <br>
                              <figure>
                                <figcaption>Vídeo 8 - Sensações e sentimentos.
                                </figcaption>
                                <br>
                                <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo02video08.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              </figure>
                                <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion">
            <div class="contentBx">
            <div class="label">2. Família</div>
            <div class="content">
                <p>Cada grau de parentesco, em Libras, tem um sinal diferente para representá-lo. Assim, existem sinais diferentes para mãe, pai, filho, filha, avô, avó, neto, neta, etc. Em muitas ocasiões, ocorre que o sinal é o mesmo, porém a marcação do gênero masculino ou feminino é utilizada antes do sinal principal.</p>
                <figure>
                  <img src>
                  <figcaption>Figura 2 - Sinal correspondente ao gênero masculino em Libras.</figcaption>
                </figure>
                <figure>
                  <img src>
                  <figcaption>Figura 3 - Sinal correspondente ao gênero feminino em Libras.</figcaption>
                </figure>
                <br>
                <p>No caso de tio e tia, o sinal é o mesmo. Porém deve ser identificado o gênero antes do sinal, quando a pessoa não estiver presente, para saber sobre quem a informação se refere. Nesse caso, dizemos que o sinal é composto, ou seja, são utilizados dois sinais para referir-se a um vocábulo. </p>
                <figure>
                  <img src>
                  <figcaption>Figura 4 - Sinal em Libras correspondente a tio.
                  </figcaption>
                </figure>
                <figure>
                  <img src>
                  <figcaption>Figura 5 - Sinal em Libras correspondente a tia.
                  </figcaption>
                </figure>
                <br>
                <p>No vídeo 9, apresenta-se uma situação que representa a constituição de uma família. Ela retrata o encontro inicial de duas pessoas. A paquera, o namoro, o casamento, a chegada de dois filhos e a presença dos avós na família</p>
                <br>
                <figure>
                  <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo02video02.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </figure>
                <br>
                <div><h4>Praticando Libras</h4></div>
                  <div class="content"> 
                    <p>Após assistir ao vídeo 9:</p>
                    <br>
                    <p> • Observe os sinais apresentados referentes a masculino e feminino, graus de parentesco, relações afetivas, etc. </p>
                    <p>• Observe a localização espacial, elemento constitutivo da Libras explorado nesse vídeo, principalmente na ocasião da apresentação das relações familiares.</p>
                    <p>• Identifique os classificadores, elementos que expressam a forma e o tamanho de objetos, pessoas e animais, explorados na ocasião da apresentação das personagens.</p>
                    <p>• Identifique o sinal de família, com qual letra ele é produzido e como é o movimento desse sinal.</p> 
                  </div>
            </div>
            </div>
        </div>
    </div>
    <br>
    <script>
        const accordion = document.getElementsByClassName('contentBx');

        for (i = 0; i<accordion.length; i++){
            accordion[i].addEventListener('click', function(){
                this.classList.toggle('active')
            })
        } 
    </script>

    <!--
    <article>
        <section>
          <br>
          <br>
          <center><h3>
            Atenção, esse material não é oficial da FCMM, é apenas um material para apresentar a ideía do projeto.
          </h3></center>

          <h2 class="titulo">Alfabeto</h2>
          <div class="felipelindo">
          <div id="alfabeto">
          <img class="imagem" src="https://www.lojaapoio.com.br/lojas/00045394/prod/carimboAlfabetoLibras.JPG"
            alt="alfabeto em libras">
          <iframe class="videos" width="560" height="315" src="https://www.youtube.com/embed/EZxkymw426U"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            </div>
          </div>
        </section>
        <br>
        <section>
          <h2 class="titulo">Pronomes</h2>
          <div class="felipelindo">
          <div id="pronomes">
          <img class="imagem"
            src="https://files.passeidireto.com/888b7764-bc12-49dd-92ca-ce39ac896204/bg1.png" alt="Pronomes pessoais em libras">
          <iframe class="videos" width="560" height="315" src="https://www.youtube.com/embed/5FHqai1wT-o"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </div>
        </section>
        <br>
        <section>
          <h2 class="titulo">Cumprimentos</h2>
          <div class="felipelindo">
          <div id="cumprimentos">
          <img class="imagem"
            src="https://1.bp.blogspot.com/-M5-loMCQf0M/WFCGajCY4rI/AAAAAAAAHI0/4-ZPCpmJ6zsevXDf-BZtifaeJMvNlDQHACLcB/s1600/cumprimentos.png"
            alt="Cumprimentos em Libras">
          <iframe class="videos" width="560" height="315" src="https://www.youtube.com/embed/ckvOUO4044g"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </div>
        </section>
        <br>
        <section>
          <h2 class="titulo">Numerais</h2>
          <div class="felipelindo">
          <div id="numerais">
          <img class="imagem" src="https://conexaoeducacional.com.br/wp-content/uploads/2021/03/imagem-11.jpg"
            alt="Numerais em Libras">
          <iframe class="videos" width="560" height="315" src="https://www.youtube.com/embed/CKmN_I05qYk"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <div class="divQuiz">
          <a id="btnQuiz" th:href="@{/quiz1}">Iniciar quiz</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>-->
</body>
<footer th:insert="~{fragments/footer}"></footer>
</html>