<!DOCTYPE html>
<html lang="pt-br" style="overflow-x:hidden;">
<!--Testando commit-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Capítulo 2</title>
  <link rel="manifest" href="/web/manifest.json">
  <link rel="stylesheet" th:href="@{css/index.css}"/>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <script src="http://kit.fontawsome.com/a076d05399.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- <script src="../static/validarCadastro.js"></script>
    <script src="../js/contraste.js"></script> -->
</head>
<body>
    <header th:insert="~{fragments/headerUsuario}"></header>
    <div>
      <ul class="breadcrumb-navigation">
        <li>
          <a th:href="@{/homeUsuario}">
              Página inicial
          </a>
      </li>
          <li>
              <a th:href="@{/capitulos}">
                  Todos os capítulos
              </a>
          </li>
          <li>Capítulo 2</li>
      </ul>
  </div>
    <br>
          <br>
          <center><h3>
            Atenção, esse material não é oficial da FCMM, é apenas um material para apresentar a ideia do projeto.
          </h3></center>
    <div><h1>Capítulo 2</h1></div>
    <br>
    <div class="itenscapitulos">
        <div class="accordion">
            <div class="contentBx">
            <div class="label">1. Calendário</div>
            <div class="content">
                <p>Sendo a Libras uma língua completa, assim como em qualquer outro idioma, há vocábulos específicos correspondentes à marcação temporal. Desse modo, cada estação do ano tem um sinal, assim como os meses, dias da semana, etc.</p>
                <br>
                <p>Os vídeos que serão apresentados a seguir serão divididos por meio dos marcadores temporais.</p>
                <br>
                <div><h4>Praticando Libras 1</h4></div>
                <br>
                <p> • Assista ao vídeo 1 e identifique o sinal da estação do ano e os sinais correspondentes aos meses.</p>
                <figure>
                    <br>
                  <center><figcaption>Vídeo 1 - Verão e meses correspondentes.</figcaption></center>
              <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo03video01.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </figure> 
                <br>
            <p> • Assista ao vídeo 2 e identifique o sinal da estação do ano e os sinais dos meses correspondentes.</p>
            <figure>
                <br>
              <center><figcaption>Vídeo 2 - Outono e meses correspondentes.
              </figcaption></center>
                      <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo03video02.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </figure>
                  <br>
                  <p> • Assista ao vídeo 3 e identifique o sinal da estação do ano e os sinais dos meses correspondentes.
                    </p>
            <figure>
                <br>
              <center><figcaption>Vídeo 3 - Inverno e meses correspondentes.
              </figcaption></center>
                      <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo03video02.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </figure>
                  <br>
                  <p> • Assista ao vídeo 4 e identifique o sinal da estação do ano e os sinais dos meses correspondentes.
                  </p>
                  <br>
                    <figure>
                      <center><figcaption>Vídeo 4 - Primavera e meses correspondentes.
                      </figcaption></center>
                      <iframe class="videos" width="560" height="315" src=" https://cdn.evg.gov.br/libras/v1/videos/modulo03video04.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </figure>
                  </br>
                  <div><h4>Praticando Libras 2</h4></div>
                  <br> 
                    <p>Após assistir aos vídeos 1 a 4, pense em todo o conjunto de sinais aprendidos e formule, em Libras, as seguintes frases:
                    </p>
                    <br>
                    <center><strong><h4>"Eu nasci no mês de..."</h4></strong></center>
                    <center><strong><h4>"Escolha um familiar e pense como diria em Libras qual mês em que ele nasceu."</h4></strong></center>
                    <br>
                <br>
            </div>
            </div>
        </div>
                <div class="accordion">
                  <div class="contentBx">
                  <div class="label">2. Números</div>
                  <div class="content">
                      <p>Em relação aos números em Libras, existe uma diferença entre os numerais cardinais e os que representam as quantidades. Observe o vídeo abaixo, com as explicações em Libras:</p>
                    <br>
                      <figure>
                        <br>
                        <center><figcaption>Vídeo 5 - Numeral cardinal.
                        </figcaption></center>
                        <iframe class="videos" width="560" height="315" src="https://cdn.evg.gov.br/libras/v1/videos/modulo03video05.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </figure>
                     <br>
                     <p>Conforme descrito no vídeo 5, os números cardinais, que representam os números fixos, como aqueles impressos numa página, no sapato, nos telefones, nas casas, devem ser assim representados:
                    </p>
                    <br>
                     <figure>
                      <center><figcaption>Figura 1 - Números Cardinais em Libras.
                      </figcaption></center>
                      <center><img class="imagem" src="https://cdn.discordapp.com/attachments/1026274459868479590/1119103344112308274/Figura_1-NumeracaoCardinal.png"></center>
                  </figure>
                  <br>
                  <div><h4>Praticando Libras 3</h4></div>
                  <br>
                    <p>Se necessário, observe, novamente, os números em uso no vídeo 5. A partir dos exemplos dados, imagine como poderia dizer as seguintes frases em Libras:
                    </p>
                    <br>
                    <center><strong><p> • O número da minha casa é...
                    </p></strong></center>
                    <center><strong><p> • O número do meu telefone é...
                    </p></strong></center>
                    <br>
                    <p>Conforme descrito nos vídeos sobre os números em Libras, que representam quantidades, estas devem ser assim sinalizadas:
                    </p>
                    <br>
                    <figure>
                        <center><figcaption>Figura 2 - Números em Libras que representam quantidades.
                        </figcaption></center>
                        <br>
                        <center><img class="imagem" src="https://cdn.discordapp.com/attachments/1026274459868479590/1119103344363982848/Figura_2-numeros_quantidades.png"></center>
                    </figure>
                    <br>
                    <p>Desse modo, em caso de se querer dizer que possui catorze canetas, não é preciso mostrar as mãos abertas representando o número dez e o número quatro.</p>
                    <p>Basta sinalizar os números um e quatro representando o numeral catorze e o sinal de canetas.</p>
                    <p>Temos ainda os numerais ordinais abaixo representados:</p>
                    <br>
                    <figure>
                    <center><figcaption>Figura 3 - Números Ordinais em Libras.</figcaption></center>
                    <center><img class="imagem" src="https://cdn.discordapp.com/attachments/1026274459868479590/1119103344649187389/Figura_3-NumeracaoOrdinalGif.gif"></center>
                    </figure>
                    <br>
                    <p>Eles se parecem com os números fixos, porém há uma diferença na movimentação, que pode ser observada na imagem acima.
                    </p>
                    <br>
                    <br>
                    <br>
                  <div class="divQuiz">
                    <a id="btnQuiz" th:href="@{/quiz1}">Iniciar quiz</a>
                </div>
                  </div>
                  </div>
                </div>
    </div>
    <br>
    <script>
        const accordion = document.getElementsByClassName('contentBx');

        for (i = 0; i<accordion.length; i++){
            accordion[i].addEventListener('click', function(){
                this.classList.toggle('active')
            })
        } 
    </script>
</body>
<footer th:insert="~{fragments/footer}"></footer>
</html>