    <div class="acessibilidade">
        <div>
          <label class="label-1"><a href="#content" accesskey="1" title="Ir para contéudo da página">Ir para o conteúdo [1]</a></label>
          <label class="label-1"><a href="#menunav" accesskey="2" title="Ir para o menu de navegação">Ir para menu [2]</a></label>
          <label class="label-1"><a href="#footer" accesskey="3" title="Ir para o rodapé">Ir para o rodapé [3]</a></label>
          <label class="label-1"><a th:href="@{/acessibilidade}">ACESSIBILIDADE</a></label>
          <label class="label-1">Contraste:</label>
  
          <!-- Site Normal -->
          <button id="semcontraste" class="semcontraste" href="javascript:void(0);" title="Site Normal">-</button>
  
          <!-- Site Auto Contraste -->
          <button id="contraste" class="contraste" href="javascript:void(0);" title="Alto contraste">-</button>
  
          <button name="increase-font" id="increase-font" title="Aumentar fonte">A +</button>
          <button name="decrease-font" id="decrease-font" title="Diminuir fonte">A -</button>
  
        </div>
      </div>
