<!--=============== REMIXICONS ===============-->
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

      <header class="header">
         <nav class="nav container">
            <div class="nav__data">
               <a href="#" class="nav__logo" id="logo">
                <img src="https://cdn.discordapp.com/attachments/1119056735500509295/1119080392041955558/logo.png">
               </a>
               
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line nav__burger"></i>
                  <i class="ri-close-line nav__close"></i>
               </div>
            </div>

            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li><a th:href="@{/fale-conosco}" class="nav__link">Fale Conosco</a></li>

                  <li><a th:href="@{/sobre-nos}" class="nav__link">Sobre nós</a></li>
                  

                  <!--=============== DROPDOWN 1 ===============-->
                  <li class="dropdown__item">
                     <div class="nav__link"><a th:href="@{/home}"></a>
                        Olá, Usuário!<i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu">
                        <li>
                           <a th:href="@{/capitulos}" class="dropdown__link">
                            Capítulos
                           </a>                          
                        </li>

                        <li>
                           <a th:href="@{/informacoes}" class="dropdown__link">
                            Minhas Informações
                           </a>
                        </li>

                        <li>
                            <a th:href="@{/}" class="dropdown__link">
                             Sair
                            </a>
                         </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </nav>
      </header>

      <!--=============== MAIN JS ===============-->
      <script th:src="@{/js/header.js}"></script>
      <script th:src="@{/js/font-size.js}"></script>
      <script th:src="@{/js/contraste.js}"></script>